/*Todays date */
.dateCenter {
    font-size: 60px;
    background-color: brown;
    text-align: center;
    height: 95px;
    padding-top: 10px;
    border-bottom: 5px solid black;
}

body {
    background-color: brown;
}

textarea {
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
}

#dataEntry {
    background-color: lightgray;
    margin-top: 3px;
    border-left: 5px solid black;
}

.saveBtn {
    margin-top: 3px;
}

.hour {
    color: #B6D0E2;
    font-weight: bold;
    font-size: 20px;
    border-top: 1px solid black;
    padding-top: 5px;
}

.container {
    margin-top: 100px;
}